li{
  border: 1px solid black;
  width:60px;
  padding:5px;
  font-size:24px;
  list-style:none;
}
.button{
  float:right;
  border: none;
  list-style: none;
  margin: 4px 2px;
  font-size: 24px;
  background-color: black;
}
.button:hover {
background-color: green;
}
h2{
  margin-right: 500px;
  margin-left: 500px;
}
footer{
  margin-top:450px;

}
